#header{
    width: 100vw;
    margin-left: calc(0px - var(--contentMargin));

    background-color: var(--darkBackgroundColor);
    border-radius: 0px 0px var(--baseBorderRadius) var(--baseBorderRadius);

    img{
        position: absolute;
        left: var(--contentMargin);
        top: calc(2 * var(--contentMargin));
        height: 20vw;
        width: 20vw;
    }
    #content{
        height: auto;
        min-height: calc(20vw + var(--contentMargin));
        margin-left: calc(20vw + 2 * var(--contentMargin));

        padding-bottom: var(--contentMargin);

        h1{
            text-align: left;
        }
    }
    #categories{
        display: flex;
        justify-content: center;

        a{
            width: 49%;
            text-align: center;

            cursor: pointer;

            color: var(--contrastColor);
            text-decoration: none;

            font-size: calc(1.5 * var(--baseFontSize));
        }
        :first-child{
            border-right: solid 1px var(--contrastColor);
        }
    }
}
#Info{
    margin: 0px;
    margin-top: var(--contentMargin);
    @media only screen and (min-width: 1083px) {
        margin: 0px 12vw;
        margin-top: var(--contentMargin);
    }
}
#Download{
    display: none;
    
    #options{
        margin-top: var(--contentMargin);

        display: flex;
        justify-content: space-between;
    }
    #downloads{
        margin-top: var(--contentMargin);
    }
}