@media only screen and (min-width: 1083px) {
    h1, h4{
        text-align: left;
    }
}

#header{
    display: inline-block;
    width: 46vw;
    vertical-align: top;

    @media only screen and (max-width: 1082px) {
        display: block;
        width: 100vw;
    }
}
#applist{
    --baseDiamondUnit: calc(.09 * var(--baseUnit));

    display: grid;

    grid-auto-flow: column;
    justify-content: start;

    position: absolute;
    bottom: var(--contentMargin);
    left: var(--contentMargin);

    width: 100%;
}

#diamond{
    --baseDiamondUnit: calc(.16 * var(--baseUnit));


    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: calc(98vh - 2 * var(--contentMargin));
    padding-top: 1vw;
    margin-left: var(--contentMargin);

    @media only screen and (max-width: 1082px) {
        display: flex;
        width: calc(100vw - 2 * var(--contentMargin));
        height: calc(92 * var(--baseDiamondUnit));
        margin: var(--contentMargin);
    }

    div{
        transform: rotate(45deg) scale(.7); // .7 -> 1/sqrt(2); d = 1, d=a*sqrt(2), a = 1/sqrt(2)

        p{
            width: 100%;
            
            &.pos1{
                transform: translateY(-.5em);
            }
            &:not(.pos1){
                transform: translateY(.25em);
            }
        }
    }
}