@media only screen and (min-width: 1083px) {
    h1, h4{
        text-align: left;
    }
}

#header{
    display: inline-block;
    width: calc(50vw - var(--contentMargin) - 2px);
    vertical-align: top;

    @media only screen and (max-width: 1082px) {
        display: block;
        width: calc(100vw + var(--contentMargin));
        margin-left: calc(var(--contentMargin) * -1);
    }
}
#applist{
    --baseDiamondUnit: calc(.09 * var(--baseUnit));

    display: grid;

    grid-auto-flow: column;
    justify-content: start;

    position: fixed;
    bottom: var(--contentMargin);
    left: var(--contentMargin);

    width: 100%;
}

#diamond{
    --baseDiamondUnit: calc(.16 * var(--baseUnit));


    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: calc(50vw - var(--contentMargin) - 2px);
    height: max(calc((48 * var(--baseDiamondUnit) * 2) + (3 * var(--baseDiamondUnit))), calc(100vh - 4 * var(--contentMargin)));
    margin: var(--contentMargin) 0px;

    @media only screen and (max-width: 1082px) {
        display: flex;
        width: calc(100vw + var(--contentMargin));
        height: calc((48 * var(--baseDiamondUnit) * 2) + (3 * var(--baseDiamondUnit)));
        margin-left: calc(var(--contentMargin) * -1);
    }

    div{
        transform: rotate(45deg) scale(.7); // .7 -> 1/sqrt(2); d = 1, d=a*sqrt(2), a = 1/sqrt(2)

        p{
            width: 100%;
            
            &.pos1{
                transform: translateY(-.5em);
            }
            &:not(.pos1){
                transform: translateY(.25em);
            }
        }
    }
}