@font-face {
  font-family: PiazzollaSC;
  src: url(assets/PiazzollaSC.woff2) format("woff2");
  font-display: auto;
}
@font-face {
  font-family: Baloo2;
  src: url(assets/Baloo2.ttf) format("truetype");
  font-display: auto;
}
:root {
  --contentMargin: calc(.7 * var(--baseUnit));
  --baseFontSize: calc(var(--baseUnit) / 2);
  --baseBorderRadius: calc(.7 * var(--baseUnit));
  --brightBackgroundColor: #393f26;
  --backgroundColor: #212613;
  --darkBackgroundColor: #15190a;
  --contrastColor: #f2ecda;
  font-size: var(--baseFontSize);
  font-family: Baloo2, Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 1083px) {
  :root {
    --baseUnit: 37px;
  }
}
@media only screen and (max-width: 1082px) and (min-width: 723px) {
  :root {
    --baseUnit: 55px;
  }
}
@media only screen and (max-width: 722px) {
  :root {
    --baseUnit: 70px;
  }
}
:root.accessibility {
  --brightBackgroundColor: #12660a;
  --backgroundColor: #ccc5b8 !important;
  --darkBackgroundColor: #b3aca1;
  --contrastColor: #020801;
}

body {
  margin: var(--contentMargin);
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  scrollbar-color: var(--backgroundColor) var(--darkBackgroundColor);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkBackgroundColor);
}

p, h1, h2, h3, h4, input {
  color: var(--contrastColor);
}

h1, h2, h3, h4 {
  text-align: center;
}

h1, h2, h3 {
  font-family: PiazzollaSC, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: calc(3 * var(--baseFontSize));
  margin-top: 0px;
  margin-bottom: 0.3em;
}

h2 {
  font-size: calc(2.3 * var(--baseFontSize));
  margin-top: 0px;
  margin-bottom: 0.3em;
}

h3 {
  font-size: calc(1.5 * var(--baseFontSize));
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h4 {
  font-size: calc(1.3 * var(--baseFontSize));
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

::-moz-selection {
  background-color: var(--brightBackgroundColor);
}

::selection {
  background-color: var(--brightBackgroundColor);
}

::-moz-selection {
  background-color: var(--brightBackgroundColor);
}

a, a:visited {
  color: color-mix(in hsl, var(--brightBackgroundColor), #55ff00 50%);
}

a:hover {
  color: color-mix(in hsl, var(--brightBackgroundColor), #55ff00 38%);
}

input[type=button] {
  cursor: pointer;
  border-radius: var(--baseBorderRadius);
  background-color: var(--brightBackgroundColor);
  border: none;
  outline: none;
}

#cookiesDiv {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: var(--contentMargin);
  left: var(--contentMargin);
  right: var(--contentMargin);
  border-radius: var(--baseBorderRadius);
  background-color: var(--darkBackgroundColor);
}
#cookiesDiv p {
  text-indent: calc(var(--baseBorderRadius) / 2);
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--contentMargin);
  background-color: var(--darkBackgroundColor);
}
#navbar a {
  width: 18%;
  height: 100%;
  text-decoration: none;
}
#navbar a p {
  height: 100%;
  margin: 0px;
  margin-top: 1.5%;
  text-align: center;
  line-height: 1;
  font-size: calc(1.3 * var(--baseFontSize));
}
#navbar div {
  width: calc(2.5 * var(--contentMargin));
}
#navbar div#accessibilityButton {
  height: 250%;
  box-sizing: border-box;
  padding: calc(0.4 * var(--contentMargin));
  padding-top: calc(0.3 * var(--contentMargin));
  padding-right: calc(0.22 * var(--contentMargin));
  border-radius: 0px var(--baseBorderRadius);
  background-color: var(--darkBackgroundColor);
  cursor: pointer;
}

div.diamondDiv {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px calc(2 * var(--baseDiamondUnit));
  cursor: pointer;
}
div.diamondDiv img {
  width: calc(48 * var(--baseDiamondUnit));
  height: calc(48 * var(--baseDiamondUnit));
}
div.diamondDiv p {
  position: absolute;
  text-align: center;
  font-size: calc(5 * var(--baseDiamondUnit));
  width: calc(34 * var(--baseDiamondUnit));
  height: 0px;
  margin: 0px;
  line-height: 0;
}
div.diamondDiv p.top {
  top: calc(12 * var(--baseDiamondUnit) - 0.5em);
}
div.diamondDiv p.bottom {
  top: calc(36 * var(--baseDiamondUnit) + 0.5em);
}
div.diamondDiv p.right {
  left: calc(19.75 * var(--baseDiamondUnit) + 0.25em);
}
div.diamondDiv p.left {
  left: calc(-4.25 * var(--baseDiamondUnit) - 0.5em);
}
div.diamondDiv p.top.left, div.diamondDiv p.bottom.right {
  transform: rotate(-45deg);
}
div.diamondDiv p.top.right, div.diamondDiv p.bottom.left {
  transform: rotate(45deg);
}/*# sourceMappingURL=styles.css.map */